<%- include('/layouts/header') %>
<h1>Welcome / Bienvenido</h1>
<br />
<h3><%= error.status %> | <%= error.message %></h3> <!-- Display the error status and message -->
<br />
<a href="/">← Back to Home</a> 
<%- include('layouts/footer') %> 
