<%- include('layouts/header') %> <!-- Include the header -->

<h1>Welcome / Bienvenido</h1>
<br />
<h3><%= error.status %> | <%= error.message %></h3> <!-- Display the error status and message -->
<br />
<a href="/">← Back to Home</a> <!-- Link to go back to home -->

<%- include('layouts/footer') %> <!-- Include the footer -->
