<%- include('layouts/header') %>

<h1 class="title">Steakz</h1>
<div class="about">
 <ol>
    <li>
        En Babou, no solo creamos platos; en Babou, creamos momentos.
    </li>

        Inspirados en la enigmática melena de Fernando (una obra maestra digna de Chile), nuestro restaurante es más que un lugar para comer y trabajar; es un espacio donde su cabello—y tu imaginación—cobran vida.

        Nos comprometemos a despertar tus sentidos con cada rizo, cada plato, cada sorbo y cada experiencia. Aquí, la gastronomía se funde con un diseño surrealista, donde cada platillo cuenta una historia y cada peinado es una aventura.

        Sumérgete en un mundo de color, música y sabor, donde incluso el cabello más voluminoso se vuelve parte del arte.

        Bienvenidos a Babou: donde la magia, la cocina y el cabello de Fernando se encuentran.

 </ol>



</div>

<%- include('layouts/footer') %>